<html>
    <head>
        <script>
        </script>
        <title> Email Template Example </title>
    </head>
    <body>
        <center>
        <div>
               <h3 style="color:blue">Wellcome Thanks for sign in </h3>
               <img src="https://thumbs.dreamstime.com/b/sign-hand-pointer-icon-login-symbol-website-navigation-circle-flat-button-shadow-border-vector-78390148.jpg", width="100" height="100">      
                <p>We're happy you're here. Let's get your email address verified </p>
                <div>
                    <h4>please click the link</h4>
                   <button style="color:yellow"><a href=http://localhost:7070/api/v1/<%=details.uuid%>>verify Link</a></button> 
                </div>
            </center>
        </div>
    </body>
</html>
